table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    
}

th {
    border: 4px solid black;
    text-align: center;
    font-size: 24px;
    background-color: #520B73;
    color: white;
}

tr, td{
    border: 4px solid black;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}